body{
  background-image: url("https://i.postimg.cc/Fz5sdKhn/Photographer.jpg"); /* The image used */
  background-color: #cccccc;
  color:white;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
    display: flex;    
    flex-direction: column;
}
.button{

background-color:#fff;
border-radius:2px;
padding-left:8px;
color:black;
padding-right:8px;
}

.header{
    border-bottom:2px solid white;
    margin-bottom:20px;

}
.inp{
box-sizing:border-box;
width:40px;
background-color:rgba(1,1,1,0.4);
}
.svjpg{
    padding:10px 20px 5px;
    border-radius:100%; 
    width: 60px; height:60px
}
.form{
    margin-top:40px;
    background-color:rgba(1,1,1,0.4);
    padding: 10px 20px; 
    border: 2px solid 
 rgba(0,0,0,0.9);
    border-radius: 15px; 
    width: 50%; 
    /*text-align: center; */

}
.content{
   margin-left:40px;
   margin-top:40px
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top: 1px solid white;
   background-color: rbga(0,0,0,0.6);
   color: white;
   text-align: center;
   font-style:italic;
}
  
