<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <meta name="google-site-verification" content="yweSC0yZWUr7Ek1wVL-PY-iO5mHSvFdhPaujUGPLemI" />
  <meta charset="UTF-8">
<meta name="description" content="A Students Union and club for bringing the students talent and and conducts games in Mallareddy Engineering college & Management Sciences ( MREM ) Institute and also help students to reach their Queries/Issues to the Campus Head and try to sweep those out.">
<meta name="keywords" content="Student Voice, Talent, Students Union, MREM,Mallareddy Engineering College and Management sciences, SV MREM, Certificates">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Wanna View your e-certificates from MREM" />
<meta property="og:site_name" content="Student Voice MREM" />
<meta property="og:url" content="https://studentvoicemrem.vercel.app" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<title>Student Voice MREM</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='svstyle.css') }}">
<link rel="canonical" href="https://studentvoicemrem.vercel.app/" >

</head>
<body>
    <div class="header">
<nav>
<!--<img src="images/templates.jpg" style="border-radius:40px; width : 50px; height:50px">-->

<img src="https://i.postimg.cc/0QwThd7b/308501154-432155679007013-279628981600909435-n.jpg" class ="svjpg">
   <!-- <h1 style ="font-size:20px">ECE Login</h1>  -->
    </nav>
    </div>
    <div class="content">
    {% block content %}
    {% endblock %}
</div>
    <div class ="footer">
<h2> © Student Voice - MREM </h2> 
    </div>
</body>
</html>



