{% extends "base.html" %}
{% block content %}
<h1>Hello, Dear.. </h1><h3><b>For Certificates,</b> Kindly Login with your details.</h3>
    {% if form.rollno.errors %}
      <ul class="errors">
      {% for error in form.rollno.errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
  {% endif %}
    <form class="form" method="POST" action="/">
      {{ form.hidden_tag() }}
      <p>
        {{ form.rollno.label }}<br>
        {{ form.rollno(size=32,class_="inp") }}
    </p>
    <p>
        {{ form.passw.label }}<br>
        {{ form.passw(size=32) }}
    </p>
    <p>{{ form.submit }}</p>
    </form>
 </div>

<!--<submit class="button">gg</submit>-->
 {% endblock %}
