<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="Student Voice MREM is an club for bringing the students talent and and conducts games in college MREM.">
<meta name="keywords" content="Student Voice, Talent, MREM, SV MREM, Certificates">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Whats going On mrem" />
<meta property="og:site_name" content="Student Voice MREM" />
<meta property="og:url" content="https://studentvoicemrem.vercel.app" />
<title>Student Voice MREM</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<!--<link rel="stylesheet" href="sv2.css">-->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SV2.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
<nav>
<!--<img src="images/templates.jpg" style="border-radius:40px; width : 50px; height:50px">-->

<img src="https://i.postimg.cc/0QwThd7b/308501154-432155679007013-279628981600909435-n.jpg" class ="svjpg">
<!-- <h1 style ="font-size:20px">ECE Login</h1>  -->
</nav>
</div >
<h2 class="Sgreet">Hello, <h1 class="Sname">{{name}}</h1></h2>
<h4>Here you can download and view your certificates</h4>
<div class="tabledata"> 
{{ tabledata|safe}}

</div> 

<div class ="footer">
<h3>Follow Us On</h3>
<div class="link_section">

<div id="link_self">
<a href="https://www.instagram.com/student.voice_mrem" >Instagram<span style="font-size:5px" class="fa">&#xf16d;</span></a>
<a href="#" >Linkedin  <span style="font-size:5px " class="fa">&#xf0e1;</span></a>
<a href="#" >Insta</a>


</div>

<div id ="link_other">
<a href="#" >Get to Know.about Intituition</a>
<a href="#" >Insta</a>
</div>


</div>
<h6>Our Sibling Clubs <span style="font-size:10px" class="fa">&#xf16d;</span></h6>
<div class="sib"style="display:flex ">
<p><a href="" style="display:block">Capture Crew</a>     (Photography)</p>
<p><a href="" style="display:block">Fine Arts</a>     (Arts)</p>
<p><a href="" style="display:block" >Cultereya</a>     (Cultural Events)</p>
<!--<p><a href="" style="display:block">Capture Crew</a>     (Photography)</p>
-->
</div>
<hr>
<h2> &copy; <em>Student Voice - MREM</em> </h2> 
</div>


</body></html>
